/* html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}  */

#div-central{
    margin-left: 40%;
    margin-top: 10%;
}